#editor, #result {
	position: absolute;
	width: 50%;
}
#editor {
	height: 95%;
	bottom: 0;
	left: 0;
}
#result {
	height: 100%;
	top: 0;
	left: 50%;
}
#save, #run {
	position: absolute;
	top: 0;
	border: none;
	background-color: #BBB;
	color: white;
	cursor: pointer;
	height: 5%;
	width: 25%;
	font-size: 200%;
}
#save:hover, #run:hover {
	background-color: gray;
}
#save {
	left: 0;
}
#run {
	left: 25%;
}
